<p>Añadir comentario: </p>

<form method="post" action="/quizes/<%= quiz.id %>/comments" >
	<p><input type="text" id="comment" name="comment[texto]" value"" /></p>
	<button type="submit">Enviar</button>
	<a id="enlacillo" href="/quizes/<%= quiz.id %>"><input type="button" value="Cancelar" /></a>
</form>