<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>¡El portal donde podrás crear tus propios juegos!</p>
    <p>Le animo a jugar</p>
    <a href="/quizes/question" >Comienze a jugar</a>
  </body>
</html>
