
*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; padding-left: 50px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span { margin: 0px 10px 0px 0px;}

#ErrorMsgs { color: #f61; font-size: smaller; }

.boton:hover {
	background-color: lightblue;
	color: white;
	border-radius: 10px 10px 10px 10px;
}

#enlacillo {
	text-decoration: none; 
}

#botonAnimacion{
	animation-name: ejemplo; 
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	width: 100px;
	height: 100px;
	position: relative;
}

@keyframes ejemplo {
	0% {left: 0px; top: 0px;}
	50% {left: 0px; top: 100px;}
	100% {left: 0px; top: 0px;}

}